Django>=5.2,<5.3
djangorestframework>=3.17.2,<3.18
django-environ>=0.12,<0.13
django-filter>=25.1
django-cors-headers>=4.7
drf-spectacular>=0.28
psycopg[binary]>=3.2,<3.3
Pillow>=11.0
gunicorn>=23.0; sys_platform != "win32"
